<div class="container">
    <div class="jumbotron">
        <h1>Sails Loading here</h1>

        <h2>You can see some node js features here :D</h2>
        <a href="/user/new" class="btn btn-lg btn-success"> Signup Now</a>
    </div>
</div>